section.trust
  .trust__container
    header.trust__header
      .trust__header-appendix
      h2.trust__header-title Нам доверяют
    .trust__content
      .trust__item
        img(src=`${imgUrl}/trust-dirs.png` alt="").trust__item-image
      .trust__item
        img(src=`${imgUrl}/trust-aps.png` alt="").trust__item-image
      .trust__item
        img(src=`${imgUrl}/trust-rider.png` alt="").trust__item-image
      .trust__item
        img(src=`${imgUrl}/trust-rustan.png` alt="").trust__item-image
      .trust__item
        img(src=`${imgUrl}/trust-optik.png` alt="").trust__item-image
      .trust__item
        img(src=`${imgUrl}/trust-resulting.png` alt="").trust__item-image
      .trust__item
        img(src=`${imgUrl}/trust-med.png` alt="").trust__item-image
      .trust__item
        img(src=`${imgUrl}/trust-dmt.png` alt="").trust__item-image
      .trust__item
        img(src=`${imgUrl}/trust-sor.png` alt="").trust__item-image
      .trust__item.trust__item_tablet
        img(src=`${imgUrl}/trust-mot.png` alt="").trust__item-image