footer.footer
  .footer__container
    .footer__logo
      img(src=`${imgUrl}/footer-logo.png` alt="").footer__logo-source
      a(href="").footer__logo-link
    .footer__content
      .footer__nav
        .footer__list
          h2.footer__list-title Навигация
          ul.footer__list-nav
            li.footer__list-item о компании
              a(href="").footer__list-item-link
            li.footer__list-item блог
              a(href="").footer__list-item-link
            li.footer__list-item вакансии
              a(href="").footer__list-item-link
            li.footer__list-item отзывы
              a(href="").footer__list-item-link
            li.footer__list-item сертификаты
              a(href="").footer__list-item-link
            li.footer__list-item объекты
              a(href="").footer__list-item-link
        .footer__list
          h2.footer__list-title Услуги

          ul.footer__list-nav
            li.footer__list-item экспертиза
              a(href="").footer__list-item-link
            li.footer__list-item оценка
              a(href="").footer__list-item-link
            li.footer__list-item аудит
              a(href="").footer__list-item-link
      .footer__contacts
        .footer__contacts-item
          .footer__contacts-img
            img(src=`${icnUrl}/location.svg` alt="Location").footer__source
          .footer__contacts-info
            span.footer__contacts-title ул. Октябрьская, 4к2 
            span.footer__contacts-subtitle Москва
        .footer__contacts-item
          .footer__contacts-img
            img(src=`${icnUrl}/location.svg` alt="Location").footer__source
          .footer__contacts-info
            span.footer__contacts-title просп. Московский, 25/1
            span.footer__contacts-subtitle Санкт-Петербург
        .footer__contacts-item
          .footer__contacts-img
            img(src=`${icnUrl}/phone-grey.svg` alt="").footer__source
          .footer__contacts-info
            span.footer__contacts-title +7 (495) 419-25-30
            span.footer__contacts-subtitle Оставить заявку
        .footer__contacts-item
          .footer__contacts-img
            img(src=`${icnUrl}/mail.svg` alt="").footer__source
          .footer__contacts-info
            span.footer__contacts-title info@eunpro.ru
            span.footer__contacts-subtitle Мы на связи!
        .footer__contacts-item
          .footer__contacts-img
            img(src=`${icnUrl}/time.svg` alt="").footer__source
          .footer__contacts-info
            span.footer__contacts-title с 9:00 по 18:00
            span.footer__contacts-subtitle Сб-Вс - выходной
    .footer__info
      span.footer__info-item.footer__info-item_first ТОВ «Экспертиза и управление недвижемостью»
      span.footer__info-item.footer__info-item_second
        | ИНН: 590586510793 
        | ОГРН: 317595800040212
      .footer__info-socials
        button.footer__info-socials-button
          a(href="#").footer__info-socials-button-link
          img(src=`${icnUrl}/youTube.svg` alt="Youtube").footer__info-socials-button-icon 
        button.footer__info-socials-button
          a(href="#").footer__info-socials-button-link
          img(src=`${icnUrl}/twitter.svg` alt="Twitter").footer__info-socials-button-icon
        button.footer__info-socials-button
          a(href="#").footer__info-socials-button-link
          img(src=`${icnUrl}/google.svg` alt="Google").footer__info-socials-button-icon
        button.footer__info-socials-button
          a(href="#").footer__info-socials-button-link
          img(src=`${icnUrl}/skype.svg` alt="Skype").footer__info-socials-button-icon
    .footer__license
      span.footer__license-item.footer__license-item_short 2016 - 2020 Eunpro.ru  © Все права защищены
      span.footer__license-item Договор оферты и Политика обработки персональных данных

