section.contacts
  .contacts__container
    h2.contacts__title Связь с нами!
    .contacts__list
      .contacts__item
        .contacts__image
          img(src=`${icnUrl}/location.svg` alt="Location").contacts__image-source
        .contacts__info
          span.contacts__info-title ул. Октябрьская, 4к2 
          span.contacts__info-subtitle Москва
      .contacts__item
        .contacts__image
          img(src=`${icnUrl}/location.svg` alt="Location").contacts__image-source
        .contacts__info
          span.contacts__info-title просп. Московский, 25/1
          span.contacts__info-subtitle Санкт-Петербург
      .contacts__item
        .contacts__image
          img(src=`${icnUrl}/phone-grey.svg` alt="").contacts__image-source
        .contacts__info
          span.contacts__info-title +7 (495) 419-25-30
          span.contacts__info-subtitle Оставить заявку
      .contacts__item
        .contacts__image
          img(src=`${icnUrl}/mail.svg` alt="").contacts__image-source
        .contacts__info
          span.contacts__info-title info@eunpro.ru
          span.contacts__info-subtitle Мы на связи!
      .contacts__item
        .contacts__image
          img(src=`${icnUrl}/time.svg` alt="").contacts__image-source
        .contacts__info
          span.contacts__info-title с 9:00 по 18:00
          span.contacts__info-subtitle Сб-Вс - выходной
    button.contacts__button перезвоните мне
      a(href="").contacts__button-link 
